@import url("https://fonts.googleapis.com/css2?family=Arizonia&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --font-apna-font: "Inter";
  --shadow-custom:
    0 1px 2px rgba(0, 0, 0, 0.09), 0 4px 12px rgba(0, 0, 0, 0.08);
  --color-primary: var(--color-neutral-800);
  --color-secondary: var(--color-neutral-500);
}

.dark {
  --color-primary: var(--color-neutral-100);
  --color-secondary: var(--color-neutral-400);
}
